<div class="login">
    <div class="container">

        <div class="row">
            <form [formGroup]="formPage" (submit)="login()">
                <div class="">
                    <div class="col-sm-12">
                        <h4 class="text-center"> Admin Login </h4>
                  
                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                                            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                                <div *ngIf="f['username'].errors['required']">Username is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                                            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                                <div *ngIf="f['password'].errors['required']">Password is required</div>
                                            </div>
                                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit">LOGIN</button>
                        </div>
                
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>