<div class="container">
  <div class="page-title mb-4 mt-4">
    <div class="row">
      <div class="col-sm-10">
        <div class="sub_title">
          <h4>CRUD Operations</h4>
        </div>
      </div>
      <div class="col-sm-2 text-right">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="addPopup()"
          data-target="#exampleModalCenter">
          Add User
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive table_m1 table_ms1">
        <table class="table mb-0">
          <thead>
            <tr>
              <th class="text-left">id</th>
              <th class="text-left">name </th>
              <th class="text-left">email</th>
              <th class="text-left">phonenumber</th>
              <th class="text-left">Gender</th>
              <th class="text-left">DOB</th>
              <th class="text-left">country</th>
              <!-- <th class="text-left">Language</th>
              <th class="text-left">Description</th> -->
              <th class="text-left">actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listUsers.data">
              <td class="text-left">{{data.id}} </td>
              <td class="text-left">{{data.name}} </td>
              <td class="text-left">{{data.Email}} </td>
              <td class="text-left">{{data.MobileNumber}}</td> 
              <td class="text-left">{{data.Gender}} </td>
              <td class="text-left">{{data.DOB}} </td>
              <td class="text-left">{{data.country}} </td>
              <!-- <td class="text-left">{{data.Language}} </td>
              <td class="text-left">{{data.Description}} </td> -->
              <td class="text-left">
                <button class="del_icon" (click)="edit(data.id)" data-toggle="modal" data-target="#exampleModalCenter"><i
                    class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="del_icon" (click)="deletePopup(data.id)" data-toggle="modal"
                  data-target="#exampleModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Delete User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do You Want To Delete a User?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>




<!--Update Modal Start-->
<!--<div class=" modal fade " id="updateModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Update User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form [formGroup]="updatePage" (submit)="update()">
          <div class="">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">name</label>
                <input type="text" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f3['name'].errors }" />
                <div *ngIf="submitted && f3['name'].errors" class="invalid-feedback">
                  <div *ngIf="f3['name'].errors['required']">name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="Email">email</label>
                <input type="Email" formControlName="Email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f3['Email'].errors }" />
                <div *ngIf="submitted && f3['Email'].errors" class="invalid-feedback">
                  <div *ngIf="f3['Email'].errors['required']">email is required</div>
                </div>
              </div>

              <div class="form-group">
                <label for="MobileNumber">MobileNumber</label>
                <input type="number" formControlName="MobileNumber" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f3['mobileNumber'].errors }" />
                <div *ngIf="submitted && f3['MobileNumber'].errors" class="invalid-feedback">
                  <div *ngIf="f3['MobileNumber'].errors['required']">phone number is required</div>
                </div>
              </div>

              <div class="text-center">
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>

          </div>
        </form> 
      </div>
    </div>
  </div>
</div>-->


<!--Update Modal End-->

<!--Add Modal Start-->
<div class=" modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Create User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addPage" (ngSubmit)="add()">
          <div class="">
            <div class="col-sm-12">


              <!-- <div class="form-group">
                <label for="id">Id</label>
                <input type="text" formControlName="id" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f2['id'].errors }" />
                <div *ngIf="submitted && f2['id'].errors" class="invalid-feedback">
                  <div *ngIf="f2['id'].errors['required']">Id is required</div>
                </div>
              </div>  -->
              <div class="form-group">
                <label for="name">name</label>
                <input type="text" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f2['name'].errors }" />
                <div *ngIf="submitted && f2['name'].errors" class="invalid-feedback">
                  <div *ngIf="f2['name'].errors['required']">name is required</div>
                </div>
              </div>

              <div class="form-group">
                <label for="MobileNumber">MobileNumber</label>
                <input type="number" formControlName="MobileNumber" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f2['MobileNumber'].errors }" />
                <div *ngIf="submitted && f2['MobileNumber'].errors" class="invalid-feedback">
                  <div *ngIf="f2['MobileNumber'].errors['required']">phone number is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="Email">email</label>
                <input type="Email" formControlName="Email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f2['Email'].errors }" />
                <div *ngIf="submitted && f2['Email'].errors" class="invalid-feedback">
                  <div *ngIf="f2['Email'].errors['required']">email is required</div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3 mt-3">
                    <label for="DOB">Date of Birth </label>
                  </div>

                  <div class="col-sm-5">
                    <input type="date" class="form-control" id="DOB" name="DOB" formControlName="DOB" max="2020-12-31"
                      [ngClass]="{ 'is-invalid': submitted && f2['DOB'].errors }" />
                    <div *ngIf="submitted && f2['DOB'].errors" class="invalid-feedback">
                      <div *ngIf="f2['DOB'].errors['required']">Date of Birth is required</div>
                      <div *ngIf="f2['DOB'].errors['pattern']">Invalid Date</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" formControlName="Description" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f2['Description'].errors }" />
                <div *ngIf="submitted && f2['Description'].errors" class="invalid-feedback">
                  <div *ngIf="f2['Description'].errors['required']">name is required</div>
                </div>
              </div>

              <div class="form-group ">
                <label class="" for="gender">Gender </label>
                <div class="form-check form-check-inline ml-2">
                  <input class="form-check-input" type="radio" autocomplete="off" name="gender" id="inlineRadio1"
                    value="Male" formControlName="gender" [checked]="true"
                    [attr.disabled]="readonlyFlag ? 'disabled' : null"
                    [ngClass]="{ 'is-invalid': submitted && f2['gender'].errors }" />
                  <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" autocomplete="off" name="gender" id="inlineRadio2"
                    value="Female" formControlName="gender" [attr.disabled]="readonlyFlag ? 'disabled' : null"
                    [ngClass]="{ 'is-invalid': submitted && f2['gender'].errors }" />
                  <label class="form-check-label" for="inlineRadio2">Female </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" autocomplete="off" name="gender" id="inlineRadio3"
                    value="Transgender" formControlName="gender" [attr.disabled]="readonlyFlag ? 'disabled' : null"
                    [ngClass]="{ 'is-invalid': submitted && f2['gender'].errors }" />
                  <label class="form-check-label" for="inlineRadio3">Transgender</label>
                </div>
              </div>



              <div class="form-group ">
                <div class=" row">
                  <div class="col-sm-2 mt-2">
                    <label for="Language">Country </label>
                  </div>
                  <div class="col-sm-5">
                    <select class="form-control" name="country" id="country" formControlName="country"
                      [ngClass]="{ 'is-invalid': submitted && f2['country'].errors }">

                      <option value="INDIA" selected>
                        INDIA
                      </option>
                      <option value="USA">
                        USA
                      </option>
                      <option value="LONDON">
                        LONDON
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- <div class="form-group ">
                <label for="form-check-label">Language </label>
                <div class="form-check form-check-inline ml-2">
                  <input type="checkbox" class="form-check-input" name="Language" id="Language" value="Hindi"
                    formControlName="Language" [ngClass]="{ 'is-invalid': submitted && f2['Language'].errors }" />Hindi
                </div>
                <div class="form-check form-check-inline ml-2">
                  <input type="checkbox" class="form-check-input" name="Language" id="Language" value="English"
                    formControlName="Language"
                    [ngClass]="{ 'is-invalid': submitted && f2['Language'].errors }" />English
                </div>
                <div class="form-check form-check-inline ml-2">
                  <input type="checkbox" class="form-check-input" name="Language" id="Language" value="Telugu"
                    formControlName="Language" [ngClass]="{ 'is-invalid': submitted && f2['Language'].errors }" />Telugu
                </div>
                <div *ngIf="submitted && f2['Language'].errors" class="invalid-feedback">
                  <div *ngIf="f2['Language'].errors['required']">Language is required</div>
                </div>
              </div> -->

              <div class="text-center">
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&nbsp;
                  <button *ngIf ="saveFlag"  type="submit" class="btn btn-primary">Save</button>
                  <button *ngIf ="updateFlag" type="button" class="btn btn-primary" (click)="update()">update</button>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>

<!-- Modal -->